
    /* for fiting the web page and be a full page for all different devices*/

html{
    height: 100%;
}
    /*  for the header section and the logo*/
header{
    padding-bottom: 200px;
    border-radius: 10px;
    text-align: center;
    height: 118px;
}
    /* the body and background color*/
body{
    background-color: #d2f0f3 ;
    background-position: center;  
    
}
     /* navigation items*/
nav{
    height:50px;
    text-align: center;
    
}
nav a {
    text-align: center;
    background-color: rgba(225, 235, 28, 0.936);
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
    color: blueviolet;
    font-size: 25px;
    text-decoration: none;
    padding-left: 113px;
    padding-right: 113px;
    
}
     /* hover effects on navigation items*/
nav a:hover {
    background-color: white;
    height: 40px;
    text-align: center;
}
    /* main adjecments*/
main{
    min-height: 300px;
    text-align: center;
    align-items: center;
}
    /* paragraph text styling*/
p{
    color: rgb(240, 23, 110);
    font-size: 35px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
 
    /* images position and radius*/
img{
    align-items: center;
    text-align: center;
    border-radius: 25px;
}
   /* h1,h2,h4 styling*/
 h1,h2,h4{
    background-color: rgb(222, 187, 242);
    text-shadow: 6px 6px 6px #fff200;
    text-align: center;
    font-size: 50px;
    color: rgb(73, 73, 242);
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 113px;
    padding-right: 113px;
    
 }
   /* h3 styling*/
h3{
    color:rgb(220, 21, 61);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

    /* table text ,color ,and column and adjecments*/
 table{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    align-items: center;
    text-align: center;
    color: rgb(50, 50, 160);
    font-family: Arial, Helvetica, sans-serif;
    
    
}
    /* tr , th , specific colors */
 tr:nth-child(even){
    background-color: rgb(212, 182, 240);
 }
 th:nth-child(even),td:nth-child(even){
    background-color: #f5f08c;
 }


   /* activities class , flex box */
.activities{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
   
}
    /* footer*/
  footer{
    text-align: left;
    height: 400px;
} 

 footer h3{
    
    color: rgb(98, 98, 244);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 25px;
 }

 footer ul{
    color: rgb(80, 22, 133);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
 }



/* desktop view*/
@media (min-width:901px) {
        
.container{
margin-left: auto;
margin-right: auto;
width: 50%;
min-width: 1024px;
min-height: 500px;
display: flex;
justify-content: center;
align-items: center;
height: 200px;

}
    }

/* mobile view*/
@media (max-width:600px) {
        
    .container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 1024px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    }
}








