html{
    height: 100%;
}
header{
    padding-bottom: 200px;
    border-radius: 10px;
    text-align: center;
    height: 60px;
    
}
body{
    background-image:url(colorful-composition-kid-puzzle_23-2147689860.avif); 
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #bff18e ;
    background-position: center;  
    
}
nav a {
    text-align: center;
    background-color: rgba(225, 235, 28, 0.936);
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
    
}
nav{
    height:50px;
    text-align: center;
}


p{
    color: red;
    font-size: 30px;
    text-align: center;
}

h3{
    text-align: center;
    font-size: 25px;
    color: red;
}

img{
    align-items: center;
    text-align: center;
    border-radius: 25px;
}
 h1,h2{
    text-align: center;
    font-size: 60px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
 }
 table{
    text-align: center;
    align-items: center;
    
}
 tr:nth-child(even){
background-color: rgb(186, 143, 226);
 }

 h4{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
 }

 footer h3{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 25px;
 }
 footer ul{
    color: rgb(127, 2, 244);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
 }


/* tablet view*/
    @media (max-width:768px) {
        
.container{
margin-left: auto;
margin-right: auto;
width: 50%;
min-width: 1024px;
min-height: 500px;
display: flex;
flex-wrap: wrap;
}
    }

/* mobile view*/
@media (max-width:400px) {
        
    .container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    }

h2{
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
}

header{
    
    height: 118px;
}
nav a:hover {
    background-color: white;
    height: 40px;
    text-align: center;
}
main{
   text-align: center;
    min-height: 300px;
    display: flex;
    color:rgba(255, 0, 208, 0.494);
    align-items: center;
}
footer{
    
    height: 400px;
}


 th{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(160, 50, 153);
 }
nav a{
    font-size: 15px;
    color: blueviolet;
    text-decoration: none;
    padding-left: 113px;
    padding-right: 113px;
}






